body{
    height: 100vh;
    overflow: hidden;
}

/* ? header & footer rules */
header, footer{
    background-color: #444;
}

header .container{
    height: 70px;
}

main{
    height: calc(100vh - 120px);
    background-color: snow;
}

footer .container{
    height: 50px;
    color: white;
}


/* ? main content */
main .container{
    padding: 40px 0;
}

.app-container{
    height: calc(100vh - 120px - 80px);
    border: 5px solid orange;
}

/* calculator */

.calculator{
    padding: 1rem;
    height: 100%;
    width: 70%;
}

.calc-display{
    height: 20%;
    border-radius: 18px;
    background-color: #555;
    color: white;
    font-family: 'Calculator', sans-serif;;
}

.calc-display h3{
    font-size: 5rem;
}


.calc-btns-container{
    flex-grow: 1;
    margin-top: 1rem;
    align-content: space-between;
}

.calc-btn{
    width: calc(100% / 4 - 36px);
    height: calc(100% / 5 - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    font-weight: bold;
}

span:last-child{
    display: none;
}

.opr{
    color: rgba(255, 166, 0, 0.719);
    background-color: #444;
    font-size: 2.5rem;
}

.numb {
    color: white;
    background-color: rgba(255, 166, 0, 0.801);
    font-size: 3rem;

}




/* calc-history */

.calc-history{
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    border-left: 2px solid #777;
    background-color: #fafafa;
}

h2{
    color: #222;
}